@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* Primary */

    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    
    /* background */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    /* circle */
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex; 
    flex-direction: column;

    width: 375px;
    font-family: 'Hanken Grotesk', 'San-serif';
}

@media screen and (min-width: 560px) {
    .container{
        flex-direction: row;
        border-radius: 1.5rem;

        box-shadow: 5px 5px 25px 0 lightgray;

        width: 35rem;
    }
    .result{
        width: 50%;

        border-radius: 1.5rem;
    }

    .summary{
        width: 50%;
    }
    .percentile{
        padding: 0;
    }
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    background: linear-gradient(var(--Light-slate-blue) ,var(--Light-royal-blue)) ;
    
    padding: 1.5em 1em 2em 1em;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    
    font-size: 0.875rem;
    text-align: center;
}

.result h2{
    font-weight: 500;
    font-size: 1rem;  

    color: var(--Light-lavender)
}

.numeric-result{
    background: linear-gradient(var(--Violet-blue), var(--Persian-blue));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 7rem;
    aspect-ratio: 1/1;

    margin: 0.8rem;

    border-radius: 4rem;
}

.final-score{
    font-size: 3rem;
    font-weight: 800;

    color: var(--White);
}

.max-score{
    color: var(--Light-slate-blue);

    font-weight: 700;
}

.msg{
    font-size: 1.2rem;
    font-weight: 700;

    color: var(--White);
}

.percentile{
    padding: 0em 2em;
    color: var(--Light-lavender)
}