
.summary{
    padding: 1.5em;

    & h2{
        font-size: 1rem;
        color: var(--Dark-gray-blue);
    }
}

.score-list{
    list-style: none;

    padding: 1em 0em;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.7rem;
}

.score-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em ;
    border-radius: 0.3em;

    font-size: 0.875rem;

    & p{
        color: rgba(128, 128, 128, 0.692);
        font-weight: 700;
    }
}

.attribute-cell{
    display: flex;
    align-items: center;
    gap: 0.7em;
}
.score{
    font-weight: 800;
    color: var(--Dark-gray-blue);
}

.reaction{
    background-color: hsla(0, 100%, 67%, 0.1);

    & h3{
        color: var(--Light-red);
    }
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.1);
    & h3{
        color: var(--Orangey-yellow);
    }
}

.verbal{
    background-color: hsla(166, 100%, 37%, 0.1);
    & h3{
        color: var(--Green-teal);
    }
}

.visual{
    background-color: hsla(234, 85%, 45%, 0.1);
    & h3{
        color: var(--Cobalt-blue);
    }
}

.btn{
    font-weight: 700;

    color: white;
    background-color: var(--Dark-gray-blue);
    width: 100%;
    padding: 1em;

    border: none;
    border-radius: 2rem;

    cursor: pointer;
}

.btn:hover{
    background: linear-gradient(var(--Light-slate-blue) ,var(--Light-royal-blue)) ;
}